:root{
    --yellow:#FFC54D;
    --green:#53BF9D;
    --red:crimson;
    --white:whitesmoke;



}
body,h2{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;

}
.landing{
    background-image: url(pexels-jessica-lewis-858094.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-color:var(--white);


}
header a{
    text-decoration: none;
    color: #FFC54D;
    padding-top:10px;
}
header{
    display: flex;
    padding: 3;
    flex-wrap:wrap ;
    min-width: 120px;
    row-gap: 1em;

}

#logo{
    flex: 3;
    font-size: larger;
    padding-left: 2px;
    min-width: 260px;
}
nav{
    flex: 2;
    display: flex;
    align-items: center;

}
#logo:hover{
    color: chartreuse;
}
nav a{
    flex:2;
}
nav a:hover{

    color:chartreuse;
}

header h2 i,nav a i{
    margin-right: 1em;
}
.maintext{
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
    padding: 2em;


}
.tagline1{
    color:var(--red) ;
    font-size: 40px;
    font-weight: bolder;

}
.tagline2{
    color: var(--yellow);
    font-size: 35px;
    

}
.maintext div{
    margin-top:75 ;
    padding: 4px;

}
.maintext button{
    width: 20vw; 
    margin-top:2;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--green);
    color: var(--white);
    border: 1px solid var(--green);
    margin:0 auto;
    margin-top: auto;

    
}
.maintext button:hover{
    color: rgb(1, 1, 29);
    background-color: chartreuse;
}
.callus{
    color: var(--white);
    font-size: large;
    margin-top: 10px;
}
.callus:hover{
    color:blue;
}
.menu{
    display: grid;
    background:linear-gradient(to right,rgb(28, 27, 27),rgb(92, 90, 90));
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    color: aliceblue;
}

#menuheading,#locheading{
    background:linear-gradient(to right,rgb(28, 27, 27),rgb(92, 90, 90));
    display: flex;
    justify-content: center;
    font-size: 35;
    color: var(--red);
}


.menu th{
    color: var(--green);
    font-size: 28;
}
table{
    width: 100%;
    padding: 8px;
}
.locations{
    background:linear-gradient(to right,rgb(28, 27, 27),rgb(92, 90, 90)) ;
    color:white;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    


}  
.locations h2{
    color: var(--green);
}
.locations div{
    flex:1;
    padding:1em;
    min-width:500px;
}
footer{
    background-color: black;
    color: var(--white);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;}
    li{
        float: left;

    }
    

li a{
    display: block;
    padding: 20px;
    text-decoration:solid;
    text-align: center;


  }
  .social-menu{
    align-items: center;
  }
   